/* UNIVERSAL SELECTOR */
*{
    font-family: monospace;
}

/* TAG SELECTORS */
span{
    display: block;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}
button{
    font-size: 20px;
    padding: 4px 15px 4px 15px;
}
select{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
}
table{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 20px;
    border: 2;
    border-style: ridge;
}

/* CLASS SELECTORS */
.container{
    width: 32.8%;
    height: 640px;
    background-color: rgb(161, 157, 157);
    margin-right: 0.5%;
    float: left;
}
.head{
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.alert{
    color: red;
    font-size: 23px;
    display: none;
}
.values{
    margin: 1px;
    font-size: 30px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: transparent;
}

/* ID SELECTORS */
#msg{
    font-size: 18px;
    margin-top: 0px;
    padding-top: 10px;
}
#units{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 50px;
}
#alert2{
    font-size: 18px;
    display: block;
    margin-top: 6px;
    visibility: hidden;
}
#clear{
    width: 122px;
}
#receipt{
    background-color: white;
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    margin-top: 10px;
    font-size: 22px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#bill{
    font-size: 18px;
}

/* GROUP SELECTORS */
input, select{
    font-size: 19px;
    margin-right: 5px;
    height: 30px;
    width: 250px;
}
td, th{
    padding: 7px 15px 7px 15px;
}